.advantages-list {
    list-style: none;
    
    padding: 0;
    margin: 0;
}

.advantages-list__item {
    background-color: #eeeeee;
    
    padding: 0;
    margin: 0;
}

.advantages-list__content {}

.advantages-list__title {
    font-family: "PT Sans bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    
    padding: 0;
    margin: 0;
}

.advantages-list__number {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    
    padding: 0;
    margin: 0;
}

.advantages-list__info {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    
    padding: 0;
    margin: 0;
}

.advantages-list__item--blue {
    background-color: @lighter-blue;
    
    padding: 0;
    margin: 0;
}

.advantages-list__title--white,
.advantages-list__number--white,
.advantages-list__info--white {
    color: #ffffff;
}

.advantages-list__photo {}

.advantages-list__services-list {}
