.advantages-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &--row {
    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
    }
  }
}

.advantages-list__item {
  background-color: @lighter-gray;
  padding: 0;
  margin: 0;

  &--blue {
    background-color: @lighter-blue;
  }
}

.advantages-list__row {
  @media (min-width: @tablet-width) {
    display: flex;
    width: 100%;
  }
}


.advantages-list__content {
  padding-left: 35px;
  padding-right: 35px;

  @media (min-width: @tablet-width) {
    padding-left: 0;
    padding-right: 0;
    width: 256px;
    margin: 0;

    &--order {
      order: 2;
    }
  }

  @media (min-width: @desktop-width) {
    width: 400px;
  }
}

.advantages-list__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 40px;
  padding-bottom: 10px;

  &--white {
    color: @white;
  }

  &--gray {
    padding-top: 25px;
  }

  &--first {
    padding-top: 55px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 52px;
    padding-right: 52px;
    font-size: 21px;
    padding-top: 45px;

    &--gray {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.advantages-list__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: @darkest-gray;
  padding: 0;
  margin: 0;
  padding-bottom: 15px;

  &--white {
    color: @white;
  }

  @media (min-width: @tablet-width) {
    padding-bottom: 22px;
  }
}

.advantages-list__info {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: @darkest-gray;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;

  &--white {
    color: @white;
  }

  &--gray {
    padding-bottom: 30px;
  }

  @media (min-width: @tablet-width) {
    padding-left: 45px;
    padding-right: 45px;

    &--gray {
      padding-bottom: 45px;
      padding-left: 48px;
      padding-right: 48px;
    }

    &--fourth {
      padding-left: 60px;
      padding-right: 60px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 68px;
    padding-right: 67px;
  }
}

.advantages-list__photo {
  margin: 0;
  padding: 0;

  &--img {
    display: block;
  }

  @media (min-width: @tablet-width) {
    flex-grow: 1;
    width: 66.6666%;
  }
  
  @media (min-width: @desktop-width) {
    overflow: hidden;
  }
}

.advantages-list__services-list {
  background-color: @white;
  padding-bottom: 36px;
}
