.credit {
  display: flex;
}

.credit__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  padding-right: 7px;
  padding-top: 6px;
}

.credit__logo-image {
  width: 40px;

  path {
    fill: @black;

    &:hover {
      fill: @lighter-blue;
    }

    &:focus {
      fill: @main-menu-focus;
    }
  }
}
