.main-nav__wrapper {
  @media (min-width: @tablet-width) {
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__item {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 26px;
  }
}

.main-nav__link {
  text-decoration: none;
  color: @white;
  background-color: @lighter-blue;
  box-shadow: 0 1px 0 0 rgba(1, 1, 1, 0.2),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.2);
  display: block;
  padding-top: 9px;
  padding-bottom: 6px;
  box-sizing: border-box;

  &:hover {
    background-color: @blue;
  }

  &:focus {
    background-color: @darker-blue;
    color: rgba(255, 255, 255, 0.3);
  }

  &--active {
    &:hover {
      background-color: @lighter-blue;
    }

    &:focus {
      background-color: @lighter-blue;
      color: @white;
    }
  }

  @media (min-width: @tablet-width) {
    background-color: @white;
    color: @black;
    box-shadow: none;
    padding: 0;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    box-sizing: border-box;
    width: 153px;

    &:hover {
      background-color: @white;
      color: @lighter-blue;
    }

    &:focus {
      background-color: @white;
      color: @main-menu-focus;
    }

    &--active {
      color: @active;

      &:hover {
        background-color: @white;
        color: @active-hover;
      }

      &:focus {
        background-color: @white;
        color: @active-focus;
      }
    }
  }
}

.main-nav--closed .main-nav__toggle {
  position: absolute;
  z-index: 5;
  width: 23px;
  height: 22px;
  background-image: url("../img/icons/icon-menu.svg");
  background-color: transparent;
  border: none;
  right: 20px;
  top: 17px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  position: absolute;
  z-index: 5;
  width: 22px;
  height: 22px;
  background-image: url("../img/icons/icon-cross.svg");
  background-color: transparent;
  border: none;
  right: 20px;
  top: 17px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle-wrapper {
  position: relative;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
