.page-main {
  text-transform: uppercase;
}

.page-main__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: @black;
  background-color: @white;
  padding-left: 32px;
  padding-right: 33px;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
  }
}

.page-main__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  color: @black;
  background-color: @white;
  padding-left: 32px;
  padding-right: 33px;

  @media (min-width: @tablet-width) {
    padding-bottom: 55px;
    padding-left: 135px;
    padding-right: 135px;
  }
}

.page-main__photo-wrapper {
  @media (min-width: @tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    width: 648px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 0;
  }
}

.page-main__post {
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}
