.page-footer {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding: 35px 60px;
  }
}

.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top: 31px;
  margin: 0;
}

.page-footer__social-list {
  padding: 40px;
  padding-left: 84px;
  margin: 0;
}

.page-footer__credit {
  padding-left: 95px;
  padding-bottom: 23px;
}
