.page-main {
  text-transform: uppercase;
}

.page-main__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: @black;
  background-color: @white;
  padding-left: 32px;
  padding-right: 33px;
  padding-top: 30px;
  padding-bottom: 15px;

  &--photo {
    padding-top: 25px;
    padding-bottom: 10px;
  }

  &--form {
    padding-top: 25px;
    padding-bottom: 12px;
  }

  @media (min-width: @tablet-width) {
    padding-top: 37px;
    padding-left: 150px;
    padding-right: 150px;
    font-size: 21px;

    &--photo,
    &--form {
      font-size: 30px;
      padding-top: 55px;
    }
  }

  @media (min-width: @desktop-width) {
    padding-left: 355px;
    padding-right: 355px;

    &--photo,
    &--form {
      padding-top: 93px;
    }
  }
}

.page-main__intro {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: @darkest-gray;
  background-color: @white;
  padding-left: 32px;
  padding-right: 33px;
  padding-bottom: 15px;

  &--photo {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
  }

  &--form {
    padding-left: 23px;
    padding-right: 21px;
    padding-bottom: 3px;
  }

  &--arrow {
    position: relative;

    &::after {
      content: "";
      width: 320px;
      height: 37px;
      position: absolute;
      background-image: url("../img/bg-triangle.svg");
      left: 50%;
      transform: translateX(-50%);
      bottom: -29px;
    }
  }

  @media (min-width: @tablet-width) {
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 38px;

    &--photo {
      padding-left: 170px;
      padding-right: 170px;
      padding-bottom: 52px;
    }

    &--form {
      padding-left: 164px;
      padding-right: 165px;
    }

    &--arrow {
      &::after {
        display: none;
      }
    }
  }

  @media (min-width: @desktop-width) {
    &--photo {
      padding-left: 385px;
      padding-right: 387px;
      padding-bottom: 54px;
    }

    &--form {
      padding-left: 380px;
      padding-right: 380px;
      padding-bottom: 24px;
    }
  }
}

.page-main__photo-wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    width: 648px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    padding: 0;
  }
}

.page-main__post {
  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.page-main__advantages--gray {
  background-color: @lighter-gray;
}
