.page-footer {}

.page-footer__hashtag {
    font-family: "PT Sans bold", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
}

.page-footer__social-list {}

.page-footer__credit {}
