.page-footer__hashtag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin-top: 31px;
}

.page-footer__social-list {
  margin-left: 40px;
}

.page-footer__credit {
  margin-left: 95px;
}

@media (min-width: @tablet-width) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    padding: 35px 60px;
  }
}
