.post {
    margin: 0;
}

.post__wrapper {}

.post__photo {}

.post__title {
    font-family: "PT Sans bold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
}

.post__author {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    text-transform: none;
}

.post__like {
    font-family: "PT Sans bold", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
}
