.services-list {
    list-style: none;
    background-color: #ffffff;

    margin: 0;
    padding: 0;
}

.services-list__item {
    background-color: #ffffff;

    margin: 0;
    padding-left: 70px;

    &:nth-child(1) {
        background-image: url("../img/icon-house.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    &:nth-child(2) {
        background-image: url("../img/icon-gift.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
    }

    &:nth-child(3) {
        background-image: url("../img/icon-burger.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
    }
}

.services-list__title {
    font-family: "PT Sans bold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #000000;
}

.services-list__info {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}
