.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.social-list__link {
  background-color: @lighter-blue;
  display: block;
  width: 46px;
  height: 46px;

  &:hover {
    background-color: @blue;
  }

  &:focus {
    background-color: @darker-blue;

    path {
      fill: @white-opacity;
    }
  }
  
  @media (min-width: @tablet-width) {
    margin-right: 6px;
  }
}

.social-list__icon {

  path {
    fill: @white;
  }

  &--twitter {
    padding-left: 14px;
    padding-top: 16px;
  }

  &--facebook {
    padding-left: 20px;
    padding-top: 13px;
  }

  &--youtube {
    padding-left: 13px;
    padding-top: 17px;
  }
}
