body {
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;

  @media (min-width: @desktop-width) {
    background-color: @lightest-gray;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.inner {
  @media (min-width: @desktop-width) {
    width: 1200px;
    margin: auto;
    background-color: @white;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}

.button {
  border: none;
  background-color: @lighter-blue;
  width: 100%;
  color: @white;
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding-top: 21px;
  padding-bottom: 21px;
  cursor: pointer;

  &:hover {
    background-color: @blue;
  }

  &:focus {
    background-color: @darker-blue;
    color: @white-opacity;
  }

  &:disabled {
    background-color: @gray;
  }
}
