@blue: #669ec0;
@lighter-blue: #81b3d2;
@darker-blue: #5496bd;

@gray: #e5e5e5;
@lightest-gray: #f2f2f2;
@lighter-gray: #eeeeee;
@darker-gray: #d5d5d5;
@darkest-gray: #333333;
@odd-photo-gray: #eaeaea;
@video-controls-gray: #5c6870;
@form-gray: #e6e6e6;

@active: #766357;
@active-hover: #604e43;
@active-focus: rgba(118, 99, 87, 0.3);
@main-menu-focus: rgba(0, 0, 0, 0.3);

@white: #ffffff;
@white-opacity: rgba(255, 255, 255, 0.3);
@black: #000000;
@black-opacity-06: rgba(0, 0, 0, 0.6);

@tablet-width: 768px;
@desktop-width: 1280px;

@retina-dpi: 144dpi;
@retina-dppx: 1,5dppx;
